/* .container{
   border: 1px solid black;
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 1em;


} */

.container {
   padding: 64px 16px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 64px;
   margin-bottom: 32px;
   margin-top: 32px;
 }