.card{
    background-color: #FFFFFF;
    padding: 16px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.35);
    overflow: hidden;
};

.imgCard{
    border: 2px solid blue;
    height: 9rem;
    width: 10.4rem;

};

.imgContainer{
    border-bottom: 10px;
    border: 2px solid rgb(219, 134, 134);
};

.dietas {
  margin: 0;
}
